#root,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

.app {
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("images/city.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
    position: relative;
  background-color: whitesmoke;
  width: 40%;
  min-height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  padding: 2%;
  box-shadow: 10px 10px;
}

.heading {
  display: flex;
  align-items: center;
  margin-bottom: 50px;

}

.btn {
  background: white;
  border: rgb(9, 95, 145) 2px solid;
  color: rgb(9, 95, 145);
  border-radius: 25px;
  padding: 5px 40px;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
}

.btn:hover {
    background-color: rgb(9, 95, 145);
    color: white;
}
@media only screen and (max-width: 600px) {
  .card {
    width: 80%;
    min-height: 30px;
  }
}
